.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.env
.env.logger
/test/test.js
index.ts
rome.json
.env.default
tsconfig.json
/dist/test
/src
/dist/index.test.js
jest.config.js
*.test.js
*.test.ts
